<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.example.lesson02.mapper.UsedGoodsMapper">
	<select id="selectUsedGoodsList" 
	resultType="com.example.lesson02.domain.UsedGoods">
		SELECT
			*
		FROM
			`used_goods`
	</select>
</mapper>