<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>방금 가입된 학생</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<h1>방금 가입된 학생</h1>
		
		<table class="table">
			<tr>
				<th>번호</th>
				<td th:text="${student.id}"></td>
			</tr>
			<tr>
				<th>이름</th>
				<td th:text="${student.name}"></td>
			</tr>
			<tr>
				<th>폰번호</th>
				<td th:text="${student.phoneNumber}"></td>
			</tr>
			<tr>
				<th>이메일</th>
				<td th:text="${student.email}"></td>
			</tr>
			<tr>
				<th>장래희망</th>
				<td th:text="${student.dreamJob}"></td>
			</tr>
			<tr>
				<th>생성일</th>
				<td th:text="${student.createdAt}"></td>
			</tr>
			<tr>
				<th>수정일</th>
				<td th:text="${student.updatedAt}"></td>
			</tr>
		</table>
	</div>
</body>
</html>